/* MODULO di Layout: Formattazione standard */
[class*="col-"] {
  border: 1px solid black;
  background-color: pink;
  height: 300px;
  text-align: center;
  line-height: 300px;
}


[class*="col-"] .container [class*="col-"]{
  height: 260px;
  line-height: 260px;
  background-color: lightcoral;
  border: 1px solid white;
}
