[class*="col-"] {
  /* border: 1px solid black; */
  height: 20px;
}

.container:not(.container-invert) [class*="col-"]:nth-of-type(odd) {
  background-color: black;
}

.container-invert [class*="col-"]:nth-of-type(even) {
  background-color: black;
}

.qr-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
